<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Calculator</title>
    </head>

    <body>
        <h1>Calculator</h1>
        <form>
            <input type="text" name="input" id="tb-input"/>
            <input type="button" value="Calculate" id="btn-submit"/>
            <input type="button" value="Reset" id="btn-reset"/>
        </form>
        <ul style="list-style-type:none" id="li-results"></ul>

        <h1>Your sins</h1>
        <form>
            <input type="text" name="input" id="tb-sins-input"/>
            <input type="button" value="Calculate" id="btn-sins-submit"/>
        </form>
        <canvas id="cv-plot"></canvas>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="calculator.js"></script>
    </body>
</html>